/JAXB/IntegerTypes/target/
/JAXB/DataTime/target/
/JAXB/Enums/target/
/JAXB/JAXBElement/target/
/JAXB/NoRoot/target/
/JAXB/JAXBAnnotations/build/
/JAXB/JAXBAnnotations/dist/
/JAXB/Adapter/target/
/JAXRS/HelloWorld/nbproject/private/
/JAXRS/HelloWorld/build/
/JAXRS/RSHW/target/
/JAXRS/HelloWorld/target/
/JAXRS/simple-service/target/
/JAXRS/aaaa/target/
/JAXRS/JavaApplication12/nbproject/private/
/JAXWS/mavenproject2/target/
/JAXWS/HelloWorld/target/
/JAXWS/WSHelloWorld/target/
/JAXWS/MTOM/UploadFile/target/
/JAXWS/mavenproject1/UploadFileClient/target/
/JAXWS/UploadFileClient/target/
/JAXWS/Provider/target/
/JAXWS/ProviderClient/target/
/JAXWS/HWClient/target/
/JAXWS/SAAJService/SAAJService/target/
/JAXWS/SAAJClient/target/
/JAXB/j2sxmladapter/target/
/JAXWS/ws-parent/client/target/
/JAXWS/ws-parent/service/target/
/JAXWS/ws-parent-copy/service/target/
/JAXWS/ws-parent-copy/client/target/
/JAXB/BinaryData/target/
/JAXB/Validation/target/
/JAXB/PlainMarshalization/target/
/JAXRS/rsparent/rsclient/target/
/JAXRS/rsparent/rsservice/target/
/JAXWS/SAAJService/SAAJ/target/
/JAXWS/SAAJ/SAAJService/target/
/JAXWS/HWDispatchClient/target/
/JAXWS/ProviderService/target/
/JAXWS/JSE/client/target/
/JAXWS/MTOM/UploadFileClient/target/
/JAXWS/JSE/service/target/
/JAXWS/SAAJ/SAAJClient/target/
/JAXWS/JSE/JSEWSService/target/
/JAXWS/JSE/JSEWSClient/target/
/JAXWS/GenPointWS/JSEWSService/target/
/JAXWS/GenPointWS/JSEWSClient/target/
/JAXWS/GenPointWS/GenPointSClient/target/
/JAXWS/GenPointWS/GenPointService/target/
/JAXRS/jetty/target/
/JAXRS/grizzly/target/
/JAXRS/Jetty/target/
/NewFolder/HelloWorld/target/
/JAXB/MOXy/target/
/JAXB/MOXyHelWord/target/
/JAXB/MOXy/MOXyHelWord/target/
/JAXB/MOXy/JSONNoRoot/target/
/JAXB/MOXy/JSONHelloWorld/target/
/JAXB/MOXy/JSONCollections/target/
/JAXB/MOXy/JSONNamespace/target/
/JAXB/MOXy/JSONAttributes/target/
/JAXRS/EntityProviders/target/
/JAXRS/JsonEntityProviders/target/
/JAXRS/ContainerResponseFilter/target/
/JAXRS/ContainerRequestFilter/target/
/QOS/https-clientserver-grizzly/target/
/WSHelloWorld/target/
/WSHelloWorldClient/target/
/JAXB/HelloWorld/target/
/JAXB/IntegerRange/target/
/JAXB/NumericTypes/target/
/JAXB/OptionalNoContent/target/
/JAXB/SeeAlso/target/
/JAXB/SchemaGen/target/
/JAXB/MavenJaxb2Plugin/target/
/JAXWS/JAXWSParent/JSEWSService/target/
/JAXWS/JAXWSParent/JSEWSClient/target/
/JAXWS/JAXWSParent/JAXWSClientDispatchSOAP/target/
/JAXWS/JAXWSParent/JAXWSClientDispatchSource/target/
/JAXWS/JAXWSParent/JAXWSClientDispatchJAXB/target/
/JAXWS/JAXWSParent/JAXWSClientDispatchAsync/target/
/JAXWS/JAXWSParent/JAXWSClientHandler/target/
/JAXWS/MTOMParent/MTOMClient/target/